@import "../mixins/colors";
@import "../mixins/typography";

.wp-block-comments {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;

  * + & {
    margin-top: 60px !important;
    border-top: 1px solid $gray;
    padding-top: 60px;
  }
}

.comment-reply-title {
  @include h4();
  margin-top: 0;
}

.logged-in-as {
  @include small();
}

.comment-subscription-form {
  margin: 0;
}
