@import "../mixins/colors";

.has-foreground-background-color {
  background-color: $hard-gray;
  color: $white;

  .wp-block-button__link{
    box-shadow: 0 0 0 0 $hard-gray, 0 0 0 0 $red;

    &:hover,
    &:focus-visible{
      box-shadow: 0 0 0 2px $hard-gray, 0 0 0 4px $red;
    }
  }

  .is-style-outline .wp-block-button__link {
    color: $white !important;
    border-color: $white !important;

    box-shadow: 0 0 0 0 $hard-gray, 0 0 0 0 $white;

    &:hover,
    &:focus-visible{
      box-shadow: 0 0 0 2px $hard-gray, 0 0 0 4px $white;
    }
  }
}

.has-secondary-background-color {
  background-color: rgba($red, .03) !important;
}

.has-background {
  padding-top: 60px;
  padding-bottom: 60px;
}
