@import "../mixins/colors";

.has-foreground-background-color {
  background-color: $hard-gray;
  color: $white;

  .is-style-outline .wp-block-button__link {
    color: $white !important;
    border-color: $white !important;
  }
}

.has-secondary-background-color {
  background-color: rgba($red, .03) !important;
}

.has-background {
  padding-top: 60px;
  padding-bottom: 60px;
}
