@import "../mixins/colors";

.has-background {

  .is-style-outline {
    color: $white;

    a {
      border-color: $white;
    }
  }
}

.has-foreground-background-color {
  background-color: #1B1B1B;
  color: $white;
}

.has-secondary-background-color {
  background-color: rgba($red, .03) !important;
}

.has-background {
  padding-top: 60px;
  padding-bottom: 60px;
}
