@import "../mixins/colors";
@import "../mixins/typography";

.wp-block-post-template {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, min-content);
  gap: var(--wp--style--block-gap);

  &.is-flex-container {
    display: grid;

    &.&.columns-3 > li {
      width: 100%;
    }
  }
}

.wp-block-post {
  @include font-headings();
  position: relative;
  margin: 0;
  grid-column: 3 / -1;

  a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  & &-featured-image {
    margin-top: 0;
    margin-bottom: 32px;
  }

  //&-date {
  //  @include small();
  //  color: $red;
  //}

  & &-title {
    @include h4();
    margin: 0 !important;
    margin-top: 6px;

    a {
      color: $hard-gray;
      text-decoration: none;
    }
  }

  &-excerpt {
    @include small();
    margin-top: 16px;
  }
}

.wp-block-post + .wp-block-post {
  margin-top: 0;
}

// Need to override Twenty Twenty styles.
.entry-content .wp-block-post-title {
  @include font-body();
}
