@import "../mixins/typography";
@import "../mixins/button";

#tix {
  padding-top: 0;
}

.tix-order-summary,
.tix-tickets-list {
  width: 100%;
  border-collapse: collapse;

  thead {
    background-color: #F4F4F4;

    th {
      @include font-headings();
      font-weight: 300;
      padding: 16px 24px;
    }
  }

  th,
  td {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}


.tix-column {
  &-description {
    text-align: left;
  }

  &-price,
  &-quantity,
  &-remaining {
    text-align: center;
  }
}

.tix-ticket {

  &-title {
    @include h5();
  }

  &-excerpt {
    @include p();
  }
}
