@import "../mixins/typography";
@import "../mixins/button";

#tix-errors, #tix-notices {
  margin-bottom: 60px;
}

.tix-error {
  background-color: rgba($red, .1);
  border: none;
  margin: 0;
  padding: 16px 24px;
}

.tix-payment-method {
  display: none;
}

tr[class^="tix-row"] td {
  padding: 16px 24px;
}

#tix {
  padding-top: 0;

  .tix-submit .tix-checkout-button {
    @include small();
    letter-spacing: normal;
    text-transform: none;
    padding: 16px 32px;
    border-radius: 4px;
    margin-top: 0;
    float: none;
    display: inline-block;
  }
}

.tix-ticket-form,
.tix-order-summary,
.tix-tickets-list {
  width: 100%;
  border-collapse: collapse;

  thead {
    background-color: #F4F4F4;

    th {
      @include font-headings();
      font-weight: 300;
      padding: 16px 24px;
    }
  }

  th,
  td {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.tix-row-total {
  text-align: center;
}

.tix-column {
  &-description {
    text-align: left;
  }

  &-per-ticket,
  &-price,
  &-quantity,
  &-remaining {
    text-align: center;
  }
}

.tix-ticket {

  &-title {
    @include h5();
  }

  &-excerpt {
    @include p();
  }
}
