@import "../mixins/typography";

.wordcamp-speaker {
  display: flex;
  flex-direction: column;

}

.wordcamp-speakers__title {
  @include h3();
  margin-top: 16px;
  margin-bottom: 0;

  a {
    text-decoration: none;
  }
}

.wordcamp-image__avatar {

  &-link img {
    width: 100%;
    height: auto;
  }

  &-container {
    order: -1;
  }
}
