@import "../mixins/typography";
@import "../mixins/colors";

.wordcamp-schedule a {
  text-decoration: underline;
}

.wordcamp-schedule__day {
  position: relative;
  background-color: transparent;
}

.wordcamp-schedule__column-header {
  @include font-headings();
  @include small();
}

.wordcamp-schedule__session {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  p {
    margin: 0;
  }
}
