@import "media-query";

@mixin font-body(){
  font-family: 'Poppins', sans-serif;
}

@mixin font-headings(){
  font-family: 'Space Grotesk', sans-serif;
}

@mixin small(){
  font-size: 14px;
  line-height: 1.5;
}

@mixin hn-line-height(){
  line-height: 1.275;
}

@mixin h1(){
  font-size: 34px;
  @include hn-line-height();

  @include breakpoint($desktop){
    font-size: 44px;
  }
}

@mixin h2(){
  font-size: 26px;
  @include hn-line-height();

  @include breakpoint($desktop){
    font-size: 32px;
  }
}

@mixin h3(){
  font-size: 20px;
  @include hn-line-height();

  @include breakpoint($desktop){
    font-size: 24px;
  }
}

@mixin h4(){
  font-size: 18px;
  line-height: 1.5;

  @include breakpoint($desktop){
    font-size: 20px;
  }
}

@mixin h5(){
  font-size: 16px;
  line-height: 1.5;

  @include breakpoint($desktop){
    font-size: 18px;
  }
}

@mixin h6(){
  font-size: 14px;
  line-height: 1.5;

  @include breakpoint($desktop){
    font-size: 16px;
  }
}
