#site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: none;
  padding-left: 8rem;
  padding-right: 8rem;
}

.header-inner {
  padding-left: 40px;
  padding-right: 40px;
  margin: 0;
  width: 100%;
}
