@import "../mixins/grid";

header.wp-block-template-part,
#site-header {
  @include grid();
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: none;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 10;
}

header.wp-block-template-part .wp-block-group,
.header-inner {
  //padding-left: 40px;
  //padding-right: 40px;
  padding: 0;
  margin: 0;
  width: 100%;
}
