@import 'admin-bar';
@import 'header';
@import 'footer';
@import 'first-cover';
@import 'single';

.wp-site-blocks {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  & > * + * {
    margin-top: 0;
  }

  main {
    flex: 1;
  }
}

// Hide default page title in content.
.entry-header {
  display: none;
}

.entry-content {
  @include font-body();
  padding-top: 200px;
}

