@import '../mixins/colors';
@import '../mixins/button';
@import '../mixins/typography';

/**
 * Only for Twenty Twenty theme.
 */
.primary-menu {
  display: flex;
  align-items: center;

  & > li {
    margin: 0;
  }

  a {
    @include small();
    color: $hard-gray !important;
    padding: 16px 20px;
  }

  .wp-block-button {
    margin-left: 20px;

    a {
      @include button();
      color: $white !important;
    }
  }
}
