.single {

  .wp-block-post-title + .wp-block-post-featured-image {
    margin-top: 80px;
    margin-bottom: -300px;
  }

  .wp-block-post-content {
    padding-top: 300px;
  }

  // Remove footer spacing.
  section.wp-block-group + footer.wp-block-template-part {
    margin-top: 0;
  }
}
