@import "../mixins/colors";
@import "../mixins/typography";

.single-wcb_session {

  .wp-block-wordcamp-session-date + .wp-block-wordcamp-session-speakers {
    text-align: center;
    @include font-headings();
  }

  .wp-block-post-content {
    padding-top: 0;
  }

  .session-categories-links {
    display: none;
  }

  /**
   * Notice: Avez vous participé à cette session ? Proposer un retour.
   */
  .session-categories-links + p {
    background-color: rgba($red, .1);
    border: none;
    margin: 0;
    padding: 16px 24px;
  }
}
